.modal {
  width: 65% !important;
  font-size: 1.6rem !important;
}
.modalForm {
  font-size: 1.6rem !important;
}
.modalHeader {
  font-size: 2rem !important;
}
.modalButton {
  font-size: 1.6rem !important;
}
