* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit !important;
}
html {
  /* 1rem is 10 pixel */
  font-size: 62.5% !important;
  box-sizing: border-box !important;
}

/* 75em=1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25% !important;
  }
}
/* 65.25em=900px */
@media (max-width: 56.25em) {
  html {
    font-size: 50% !important;
  }
}
/* 65.25em=600px */
@media (max-width: 37.5em) {
  html {
    font-size: 53.75% !important;
  }
}

/* 112.5em=1800px */
@media (min-width: 112.5em) {
  html {
    font-size: 75% !important;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
